/.vagrant
/scrapy.iml
*.pyc
_trial_temp*
dropin.cache
docs/build
*egg-info
.tox
venv
build
dist
.idea
htmlcov/
.coverage
.coverage.*
.cache/
.idea/
*.cfg
static/*
__pycache__/

# Windows
Thumbs.db
/MusicBlog/Music/migrations/
MusicBlog/Music/migrations/0001_initial.py
MusicBlog/Music/static/music/images/

